
.search-form{
    width: 100%;
    height: 40px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    overflow: hidden;
    margin: 30px 0;
    background-color: #001629;
    box-shadow: 0 0 20px 1px #000d17;

    .search-form-icon{
        font-size: 1.8em;
        font-weight: 600;
        margin: 0 5px;
        color: #fff;
    }

    input{
        width: 100%;
        height: 100%;
        background-color: transparent;
        font-size: 1.2em;
        font-weight: 500;
        outline: none;
        border: none;
        color: #fff;

        &::placeholder{
            color: rgba(255, 255, 255, 0.776);
        }
    }
}


.side-menu{
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    overflow: hidden;
    color: #004c8e;
    position: relative;

    .side-menu-icon{
        font-size: 1.9em;
        font-weight: 600;
        margin: 0 10px 0 5px;
    }

    h3{
        font-size: 1.4em;
        font-weight: 500;
    }
    
    .side-menu-deroulante-icone{
        position: absolute;
        right: 7px;
        transform: rotate(-90deg);
    }

    &:hover{
        color: rgba(255, 255, 255, 0.889);
        background-color: #001629;
    }
}