.sidebar-container{
    width: 350px;
    height: 100vh;
    background-color: #000b14bf;
    padding: 20px;

    .sidebar-logo{
        font-size: 1.5em;
        font-weight: 600;
        color: #fff;
    }

    hr{
        border: 1px solid #001629;
        max-width: 200px;
        margin: 10px 0 40px 0;
    }
}